*{
	/*border: 1px solid gray;*/
}
#wrapper{
	position: absolute
	width: 100%;
	height: auto;
	text-align: center;
}
	.ninja{
		width: 20%;
		height: 400px;
		display:inline-block;
	}
		.ninja img{
			width: 100%;
			height: 400px;
	}
	button{
		display: block;
	}